@model RamboScrum.Models.Project

@{
    ViewBag.Title = "Create";
}
<div class="col-lg-6">
    <div class="panel panel-default margin-bottom-40">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-tasks"></i> Create Project</h3>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {

                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.LabelFor(model => model.definition_of_done_id, "Definition of done ID:")
                    @Html.DropDownList("definition_of_done_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.definition_of_done_id, "", new { @class = "text-danger" })
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.project_name, "Project Name:")
                    @Html.EditorFor(model => model.project_name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.project_name, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <input type="submit" value="Create Project" class="btn btn-primary" />
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
                </div>
    
            }
           
        </div>
    </div>
</div>
       

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
