@model IEnumerable<RamboScrum.Models.Project>

@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Ongoing Project</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="text-center">
                        <h4>@Html.DisplayNameFor(model => model.project_name)</h4>
                    </th>
                    <th class="text-center">
                        <h4>Definition of done</h4>
                    </th>
                    <th class="text-center"><h4>Options</h4></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td class="text-center">
                            @Html.ActionLink(item.project_name, "Details", new { id = item.project_id }, new { @class = "btn rambo"})
                        </td>
                        <td class="text-center">
                            <a class="btn rambo" href="@Html.DisplayFor(modelItem => item.DefinitionOfDone.definition_of_done_source)">@Html.DisplayFor(modelItem => item.DefinitionOfDone.definition_of_done_source)</a>
                        </td>
                        <td align="center">
                            @Html.ActionLink("Edit", "Edit", new { id = item.project_id }, new { @class = "btn btn-info btn-sm" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.project_id }, new { @class = "btn btn-danger btn-sm" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <p>
            @Html.ActionLink("New Project", "Create", null, new { @class = "btn btn-primary" })
        </p>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}